html {
    font-size: 16px;
    /* background-color: green; */
    /* color: rgb(90, 20, 20, 20); */
}
/* * {
    font-size: 20px;
} */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* font-size: 24px; */
    font-weight: 500;
    /* text-align: justify; */
    /* font-style: italic; */
    /* line-height: 1.5; */
    /* font-size: 1rem; */

    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    /* text-decoration: line-through; */
}

a {
    text-decoration: none;
    color:#1E3A8F ;
}
a:hover, a:focus {
    color: aqua;
}

#navbar {
    width: 100;
    padding: 8px 16px;
}

#logo {
    height: 30px;
    margin: 0px;
}

h1 {
    text-align: center;
    color: darkblue;
    text-transform: capitalize;
    font-size: 3rem;
}

#Banner {
    width: 100%;
    /* object-fit: cover; */
    height: 360px;
}

#about {
    display: flex;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 32px;
    flex-direction: row;

}

#description {
    width: 50%;
    padding: 0;
}

#team {
    border-radius: 5px;
    width: 50%;
    object-fit: cover;
   
    /* padding:  0px 8px; */
    border-width: 5px;
    border-style: dashed;
    border-color: rgb(20,20,20);
}

/* #team-image {
    width: 100%;
    border-radius: 5px;


} */

h2 {
    text-align: center;
}

#jobs-table {
    width: 100%;
    border: 1px solid gray;
    border-collapse: collapse;
}
#application {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

#application-form div {
    margin: 16px;
}
#application-form label {
    font-weight: 600;

}

#application-form input, select, textarea {
    padding: 4px;
    font-size: 1.25rem;
    margin-top: 4px;
    border-radius: 4px;
    border: 1px solid gray;
}

.form-group textarea {
    width: 80%;
    font-family: 'Roboto',sans-serif;
}
.form-group input[type="checkbox"] {

    width: 16px;
    height: 16px;
}
.form-group input[type="Submit"] {
    background-color: blue;
    color: aliceblue;
    font-weight: 500;
    /* padding: 16px 16px 16px 16px; */
    cursor: pointer;
}

.fieldset {
    max-width: 20%;
}
.jobs-header-row th {
    border: 1px solid gray;
    padding: 8px;
    background-color: aliceblue;
    text-align: center;

}
.jobs-data-row td {
    border: 1px solid gray;
    padding: 8px;
}
#jobs-table tr:nth-child(odd){
    background-color: ghostwhite;
}

/* .location {
    color: gray;
} */

#jobs {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 8px;
}

h3 {
    margin-bottom: 8px;
}

.apply{
    float: right;

}

.footer {
    background-color: ghostwhite;
    padding:  16px;
    margin-top: 32px;
    text-align: center;
}

.footer-links {
    list-style: none;
}

.footer-links li {
    display: inline;
    margin: 0 16px;
}

.copyright {
    color: gray;
    font-size: 0.875rem;
}
